<li>
  {{burger_name}}

  <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}EAT IT!{{else}}REGURGITATE IT!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">DELETE IT!</button>
</li>